MONGO_HOST = 
MONGO_PORT = 

LINE_CHANNEL_SECRET = 
LINE_CHANNEL_TOKEN =  
HTTP_PORT = 
API_KEY = 

CHATBOT_AI_HOST = "http://localhost:4141"

TRANSLATOR_HOST = "http://localhost:4142"
TRANSLATOR_KEY =